/*
 js style
 */
/*
ハンバーガーメニュー
 */
.js-offcanvas-btn {
}

.js-hiraku-offcanvas-active .js-hiraku-offcanvas-sidebar {
	@include link_color(black) {
		text-decoration: none;
		display: block;
		width: 100%;
	}

	ul {
		margin: 0;
		padding: 2rem;

		li {
		}
	}
}


/*
slick
 */


// initialize前は非表示にする。
.js-news, .js-catalog, .js-front__shop, .js-staff-hair, .js-catalog-single, .js-related {
	opacity: 0;

	&.slick-initialized {
		opacity: 1;
	}
}

.js-news {

	.slick-next:before, .slick-prev:before {
		font-family: $font-family-base;
		font-size: 3rem;
		color: $white;
	}

	.slick-next, .slick-prev {
		top: 85%;
		z-index: 100;
	}

	.slick-next {
		right: 15%;
	}

	.slick-prev {
		left: 50%;
	}
}

.js-front__shop {
	@extend .position-relative;

	&-arrow {
		@extend .d-flex;
		@extend .flex-wrap;
		@extend .justify-content-between;

		.prev, .next {
			@extend .font-weight-bold;
			background-color: transparent;
			border: none;
			font-family: $font-family-futura;
			letter-spacing: .5em;
			@extend .mb-3;
		}
	}

	&-arrow.pc {
		@extend .position-absolute;
		padding: 0;
		top: 60%;
		right: 10%;
		z-index: 2;

		button {
			@extend .m-0;
			@extend .p-0;
			font-size: $fs-xxl;
		}
	}
}

.js-catalog {
	background-color: $gray-white;
	@extend .position-relative;

	&:before {
		@extend .position-absolute;
		right: 5%;
		top: 10%;
		@extend .d-block;
		@include svg-bg-catalog(300px);
		@include media-breakpoint-up(md) {
			content: "";
		}
	}

	&__num {
		@extend .position-absolute;
		top: 5%;
		left: 0;
		background-color: $white;
		@extend .px-4;
		@extend .py-3;
		@extend .p-md-3;
		width: 80%;
		max-width: 400px;
		@include media-breakpoint-up(md) {
			width: auto;
			max-width: 350px;
			top: 10%;
		}

		h3 {
			font-size: $fs-xxl;
			font-family: $font-family-didot;
		}

		p {
			font-family: $font-family-futura;
			@extend .mb-0;
			font-size: $fs-sm;
			letter-spacing: 8.25px;
			@include media-breakpoint-up(md) {
				letter-spacing: .2em;
				font-size: $fs-sm;
			}
		}
	}

	&__img {
		@extend .position-relative;
		@extend .d-flex;
		@extend .flex-wrap;
		@extend .justify-content-between;
		@extend .pb-4;
		@extend .p-md-5;
		padding-top: 9rem !important;
		z-index: 2;
		@include media-breakpoint-up(lg) {
			padding-top: 3rem !important;
			z-index: -1;
		}

		&-left, &-right {
			@include flex-basis(100%);
			@include media-breakpoint-up(md) {
				@include flex-basis(47%);
			}
		}

		&-left {
			@extend .px-4;

			img {
				width: 100%;
				height: 100%;
				max-width: 100%;
				max-height: 800px;
				@include object-fit(cover, top);
				@include media-breakpoint-up(md) {
					@include object-fit(contain, top);
				}
			}
		}

		&-right {
			@extend .align-self-center;
			position: relative;
			margin: -5rem 0 0 0;
			padding-right: .5rem;
			@include media-breakpoint-up(md) {
				margin: auto;
				padding-right: 0;
			}

			img {
				@extend .ml-auto;
				@extend .mx-md-auto;
				height: 100%;
				width: 50%;
				max-width: 530px;
				max-height: 200px;
				@include object-fit(cover, top);
				@include media-breakpoint-up(md) {
					max-height: 475px;
				}
			}
		}

	}

	&__arrow {
		position: initial;
		@extend .d-flex;
		@extend .flex-wrap;
		@extend .justify-content-between;
		z-index: 10;
		@include media-breakpoint-up(md) {
			position: absolute;
			right: calc(25% - 55px);
			bottom: 15%;
		}

		.prev, .next {
			position: absolute;
			@extend .font-weight-bold;
			background-color: transparent;
			border: none;
			font-size: $fs-base;
			font-family: $font-family-futura;
			letter-spacing: .5em;
			z-index: 10;
			@extend .mb-0;
			@extend .p-0;
			@include media-breakpoint-up(md) {
				position: relative;
				font-size: $fs-xxl;
			}
		}

		.prev {
			left: .5rem;
			bottom: 10%;
		}

		.next {
			top: 10%;
			right: 0;
		}
	}
}

.js-staff-hair {
	@extend .ml-auto;
	@extend .mx-lg-auto;
	max-width: $base-width__xl;
	width: 70%;
	@include media-breakpoint-up(lg) {
		width: 85%;
	}

	img {
		@extend .mx-auto;
		@include object-fit(cover);
		width: 20vw;
		height: 20vw;
		min-width: 70px;
		min-height: 70px;
		@include media-breakpoint-up(lg) {
			width: 20vw;
			height: 20vw;
			min-width: 150px;
			min-height: 150px;
			max-width: 290px;
			max-height: 290px;
		}
	}

	.prev, .next {
		@extend .position-absolute;
		border: none;
		background-color: transparent;
		font-size: 2rem;
		bottom: -30%;
		z-index: 2;
		@extend .p-0;
		@extend .d-block;
		@include media-breakpoint-up(md) {
			bottom: -20%;
		}
		@include media-breakpoint-up(lg) {
			top: 50%;
			bottom: auto;
		}
	}

	.prev {
		left: 0;
		@include svg-arrow-left__text(80px, 15px);
		@include media-breakpoint-up(lg) {
			left: -3rem;
			@include svg-arrow-left(39px, 27px);
		}
	}

	.next {
		right: 0;
		@include svg-arrow-right__text(80px, 15px);
		@include media-breakpoint-up(lg) {
			right: -3rem;
			@include svg-arrow-right(39px, 27px);
		}
	}
}

/*
catalog - single
 */

.js-catalog-single, {
	@extend .ml-0;
	@extend .mb-3;

	@extend .p-0;

	li {
		@extend .m-0;
		@extend .p-0;
	}
}

.js-catalog-single__thumb {
	@extend .position-relative;
	@extend .m-0;
	@extend .p-0;

	li {
		@extend .m-0;
		@extend .p-0;
	}

	&-arrow {
		position: initial;
		@extend .d-flex;
		@extend .flex-wrap;
		@extend .justify-content-between;
		z-index: 10;
		margin-top: 2rem;
		@include media-breakpoint-up(md) {
			position: absolute;
			bottom: -10%;
			left: 0;
			right: 0;
			margin: 0 auto;
			width: 120px;
		}

		.prev, .next {
			position: absolute;
			@extend .font-weight-bold;
			background-color: transparent;
			border: none;
			font-size: $fs-base;
			font-family: $font-family-futura;
			letter-spacing: .5em;
			z-index: 10;
			@extend .mb-0;
			@extend .p-0;
			@include media-breakpoint-up(md) {
				position: relative;
				font-size: $fs-xxl;
			}
		}

		.prev {
			left: .5rem;
		}

		.next {
			right: 0;
		}
	}
}

/*
.js-related 関連スライダー
 */

.js-related {
	@extend .p-2;
	@extend .pb-5;
	@extend .p-lg-5;
	@extend .mx-auto;
	@include media-breakpoint-up(lg){
		width: 70%;
	}
}
