/*
 js style
 */
/*
ハンバーガーメニュー
 */
.js-offcanvas-btn {
}

.js-hiraku-offcanvas-active .js-hiraku-offcanvas-sidebar {
	@include link_color(black) {
		text-decoration: none;
		display: block;
		width: 100%;
	}

	ul {
		margin: 0;
		padding: 2rem;

		li {
		}
	}
}


/*
slick
 */

// initialize前は非表示にする。
.js-news {
	opacity: 0;

	&.slick-initialized {
		opacity: 1;
	}

	.slick-next:before, .slick-prev:before {
		font-family: $font-family-base;
		font-size: 3rem;
		color: $white;
	}

	.slick-next, .slick-prev {
		top: 85%;
		z-index: 100;
	}

	.slick-next {
		right: 15%;
	}

	.slick-prev {
		left: 50%;
	}
}
