.c-shop {
	word-break: break-word;

	&__item {
		@extend .position-relative;
		letter-spacing: 5.4px;
		@include link_color($black) {
			text-decoration: none;
		}

		&:after {
			@extend .position-relative;
			@extend .d-block;
			content: 'PRICE';
			width: 200px;
			@extend .text-center;
			background-color: $black;
			color: $white;
			font-size: $fs-sm;
			margin-top: -2em;
			@extend .mx-auto;
			padding: .5em;
		}
	}

	&__title {
		font-size: $fs-sm;
		@extend .py-4;
		border-top: 1px solid $black;
		border-bottom: 1px solid $black;
		line-height: 1.5em;
	}

	&__desc {
		font-size: $fs-sm;
	}

	&__img {
		@extend .mb-3;
		width: 200px;
		@include object-fit(contain);
		@extend .mx-auto;
	}
}


/*
pc ç”¨
 */
.c-shop-pc {
	width: 80%;
	@extend .mx-auto;

	&__item {
		@extend .d-flex;
		@extend .flex-wrap;
		@extend .position-relative;
		letter-spacing: 5.4px;
		@include link_color($black) {
			text-decoration: none;
		}

		&:after {
			@extend .position-absolute;
			@extend .d-block;
			content: 'PRICE';
			width: 200px;
			@extend .text-center;
			background-color: $black;
			color: $white;
			font-size: $fs-sm;
			top: 5%;
			right: 0;
			@extend .py-2;
		}

		a {
			@include link_color($black) {
				text-decoration: none;
			}
		}

		&-left {
			@include flex-basis(30%);
			@extend .pr-5;
		}

		&-right {
			@include flex-basis(70%);
			border-top: 2px solid $black;
			border-bottom: 2px solid $black;
			@extend .py-3;
		}
	}

	&__title {
		font-size: $fs-lg;
		@extend .mb-5;
	}

	&__img {
		width: 100%;
		height: auto;
	}
}
