/*---------------------------------
utility
---------------------------------*/
/*
font family
 */
.u-font-gothic {
	font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif !important;
}

.u-font-mincho {
	font-family: Georgia, 游明朝, "Yu Mincho", YuMincho, "Hiragino Mincho ProN", HGS明朝E, メイリオ, Meiryo, serif;
}

/*
margin / padding
 */
.u-mp-0 {
	@extend .m-0;
	@extend .p-0;
}

/*
size
 */

.u-max-width {
	max-width: $base-width;
	@extend .mx-auto;
}

/*
span color
 */

/*
bg color
 */

.u-bg-white {
	background-color: $white;
}

/*
text
 */

.u-white-nowrap {
	white-space: nowrap;
}

.u-title {
	@extend .mb-5;
	@extend .text-center;
	@extend .text-lg-left;
	font-family: $font-family-didot;
	color: $black;
	@include media-breakpoint-up(lg) {
		font-size: $fs-xxl *1.5;
		color: $white;
	}

	@each $page in blog,menu{
		&__#{$page} {
			@include media-breakpoint-up(lg) {
				background: url('assets/img/bg/bg-#{$page}.png') center no-repeat;
				background-size: cover;
				padding: 3rem 0 4rem 5rem;
			}
		}
	}
}

/*
link styles
 */

.u-link-block {
	@extend .d-block;
	@extend .w-100;
}

.u-link-gold {
	@extend .position-relative;
	font-family: $font-family-futura;
	@extend .font-weight-bold;
	padding: 0 .5em .3em .5em;
	letter-spacing: 8.25px;
	@include link_color($gold);

	&:before {
		@extend .position-absolute;
		content: "";
		@extend .d-block;
		width: 100%;
		height: 2px;
		background-color: $gold;
		bottom: 0;
		left: 0;
		transition: $transition-base;

	}

	&:hover {
		text-decoration: none;

		&:before {
			width: 50%;
			transition: $transition-base;
		}
	}

}

.u-hover-text-line {
	&:hover {
		text-decoration: none;
	}

	&:hover:before {
		content: "";
		@extend .position-absolute;
		height: 1px;
		width: 120%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-decoration: none;
	}

	&__black:hover {
		color: $black !important;

		&:before {
			background-color: $black;
		}
	}

	&__white:hover {
		color: $white !important;

		&:before {
			background-color: $white;
		}
	}
}


/*
display none properties
 */
@each $size in xs, sm, md, lg, xl {
	.u-hidden-#{$size}-up {
		@include media-breakpoint-up(#{$size}) {
			display: none !important;
		}
	}
	.u-hidden-#{$size}-down {
		@include media-breakpoint-down(#{$size}) {
			display: none !important;
		}
	}
}

/*
grid properties
 */
@each $size in xs, sm, md, lg, xl {
	@for $i from 1 through 12 {
		.u-col-#{$i} {
			flex-basis: 8.333333333% * $i;
			max-width: 8.333333333% * $i;
		}

		.u-col-#{$size}-#{$i} {
			@include media-breakpoint-up(#{$size}) {
				flex-basis: 8.333333333% * $i !important;
				max-width: 8.333333333% * $i !important;
			}
		}
	}
}

/*
icon size
 */

// icon size

@each $size in 30 {
	.u-icon-#{$size} {
		display: inline-block;
		width: #{$size}px;
		height: #{$size}px;
		// 文字に対して真ん中になるよう縦の位置を調整
		transform: translateY(-1px);
	}
}

